# ========================
# Gradle build folders
# ========================
.gradle/
build/

# ========================
# Maven
# ========================
target/

# ========================
# Serenity reports/output
# ========================
serenity-output/
target/site/serenity/

# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml

# ========================
# Local History (plugin)
# ========================
history/

# ========================
# OS metadata
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs & temp
# ========================
*.log
*.tmp

# ========================
# Compiled classes
# ========================
*.class


